@font-face {
	font-family: 'Segoe UI';
	src: local('Segoe UI'), local('SegoeUI'),
	url('../fonts/SegoeUI.woff2') format('woff2'),
	url('../fonts/SegoeUI.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: local('Segoe UI Semibold'), local('SegoeUI-SemiBold'),
	url('../fonts/SegoeUI-SemiBold.woff2') format('woff2'),
	url('../fonts/SegoeUI-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: local('Segoe UI Light'), local('SegoeUI-Light'),
	url('../fonts/SegoeUI-Light.woff2') format('woff2'),
	url('../fonts/SegoeUI-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Segoe UI';
	src: local('Segoe UI Bold'), local('SegoeUI-Bold'),
	url('../fonts/SegoeUI-Bold.woff2') format('woff2'),
	url('../fonts/SegoeUI-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}


html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	min-width: 320px;
	margin: 0;
	max-width: 100%;

	background-color: #f9f9f9; /* под проект */
	font-family: "Segoe UI", Arial, sans-serif; /* в "" свой шрифт под проект*/

	font-size: 16px;
	color: rgb(15, 20, 25);
	line-height: 1;
}

button, input {
	font: inherit;
}

img {
	max-width: 100%;
	height: auto;
	width: 100%;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1, h2, h3, p {
	padding: 0;
	margin: 0;
}

/* container */

.container {
	max-width: 800px;
	margin: 0 auto;
}

.visually-hidden {
	position: absolute !important;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
	padding: 0 !important;
	border: 0 !important;
	height: 1px !important;
	width: 1px !important;
	overflow: hidden;
}

/* при работе с float */

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

/*Временные стили*/

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

.row {
	display: flex;
}

.header {
	width: 100px;
	padding: 10px;
}

.header__navigation {
	margin-bottom: 100px;
}

.header__link {
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 9999px;
	background-size: 30px;
	background-position: center;
	background-repeat: no-repeat;
}

.header__link:hover {
	background-color: rgba(29, 161, 242, 0.1);
}

.header__link_current {
	background-color: rgba(29, 161, 242, 0.1);
}

.header__link_main {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%231da1f2' class='r-13gxpu9 r-4qtqp9 r-yyyyoo r-16y2uox r-1q142lx r-8kz0gk r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1srniue'%3E%3Cg%3E%3Cpath d='M23.643 4.937c-.835.37-1.732.62-2.675.733.962-.576 1.7-1.49 2.048-2.578-.9.534-1.897.922-2.958 1.13-.85-.904-2.06-1.47-3.4-1.47-2.572 0-4.658 2.086-4.658 4.66 0 .364.042.718.12 1.06-3.873-.195-7.304-2.05-9.602-4.868-.4.69-.63 1.49-.63 2.342 0 1.616.823 3.043 2.072 3.878-.764-.025-1.482-.234-2.11-.583v.06c0 2.257 1.605 4.14 3.737 4.568-.392.106-.803.162-1.227.162-.3 0-.593-.028-.877-.082.593 1.85 2.313 3.198 4.352 3.234-1.595 1.25-3.604 1.995-5.786 1.995-.376 0-.747-.022-1.112-.065 2.062 1.323 4.51 2.093 7.14 2.093 8.57 0 13.255-7.098 13.255-13.254 0-.2-.005-.402-.014-.602.91-.658 1.7-1.477 2.323-2.41z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
	margin-bottom: 20px;
	margin-right: 10px;
}

.header__link_home {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%231da1f2' class='r-13gxpu9 r-4qtqp9 r-yyyyoo r-lwhw9o r-dnmrzs r-bnwqim r-1plcrui r-lrvibr'%3E%3Cg%3E%3Cpath d='M22.58 7.35L12.475 1.897c-.297-.16-.654-.16-.95 0L1.425 7.35c-.486.264-.667.87-.405 1.356.18.335.525.525.88.525.16 0 .324-.038.475-.12l.734-.396 1.59 11.25c.216 1.214 1.31 2.062 2.66 2.062h9.282c1.35 0 2.444-.848 2.662-2.088l1.588-11.225.737.398c.485.263 1.092.082 1.354-.404.263-.486.08-1.093-.404-1.355zM12 15.435c-1.795 0-3.25-1.455-3.25-3.25s1.455-3.25 3.25-3.25 3.25 1.455 3.25 3.25-1.455 3.25-3.25 3.25z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.header__link_profile {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%231da1f2' class='r-18jsvk2 r-4qtqp9 r-yyyyoo r-lwhw9o r-dnmrzs r-bnwqim r-1plcrui r-lrvibr'%3E%3Cg%3E%3Cpath d='M12 11.816c1.355 0 2.872-.15 3.84-1.256.814-.93 1.078-2.368.806-4.392-.38-2.825-2.117-4.512-4.646-4.512S7.734 3.343 7.354 6.17c-.272 2.022-.008 3.46.806 4.39.968 1.107 2.485 1.256 3.84 1.256zM8.84 6.368c.162-1.2.787-3.212 3.16-3.212s2.998 2.013 3.16 3.212c.207 1.55.057 2.627-.45 3.205-.455.52-1.266.743-2.71.743s-2.255-.223-2.71-.743c-.507-.578-.657-1.656-.45-3.205zm11.44 12.868c-.877-3.526-4.282-5.99-8.28-5.99s-7.403 2.464-8.28 5.99c-.172.692-.028 1.4.395 1.94.408.52 1.04.82 1.733.82h12.304c.693 0 1.325-.3 1.733-.82.424-.54.567-1.247.394-1.94zm-1.576 1.016c-.126.16-.316.246-.552.246H5.848c-.235 0-.426-.085-.552-.246-.137-.174-.18-.412-.12-.654.71-2.855 3.517-4.85 6.824-4.85s6.114 1.994 6.824 4.85c.06.242.017.48-.12.654z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.header__link_profile_fill {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64' fill='%231da1f2' class='r-18jsvk2 r-4qtqp9 r-yyyyoo r-lwhw9o r-dnmrzs r-bnwqim r-1plcrui r-lrvibr'%3E%3Cg%3E%3Cpath d='M32,32.86a9.22,9.22,0,1,1,9.21-9.22A9.23,9.23,0,0,1,32,32.86Zm0-15.43a6.22,6.22,0,1,0,6.21,6.21A6.21,6.21,0,0,0,32,17.43Z M32,56.64a24.68,24.68,0,0,1-15.22-5.27,1.52,1.52,0,0,1-.57-1.06c0-.16,0-.31,0-.47a15.8,15.8,0,1,1,31.6,0c0,.16,0,.31,0,.47a1.52,1.52,0,0,1-.57,1.06A24.68,24.68,0,0,1,32,56.64ZM19.21,49.45a21.62,21.62,0,0,0,25.58,0,12.8,12.8,0,0,0-25.58,0Zm27.08.74h0Z M32,56.64a24.65,24.65,0,1,1,15.22-5.27A24.68,24.68,0,0,1,32,56.64Zm0-46.28A21.63,21.63,0,0,0,18.64,49a21.64,21.64,0,0,0,35-17A21.67,21.67,0,0,0,32,10.36Z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.header__link_exit {
	color: rgb(29, 161, 242);
	background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg viewBox='0 0 512 512' xmlns='http://www.w3.org/2000/svg'%3e%3ctitle%3eionicons-v5-i%3c/title%3e%3cpath d='M320,176V136a40,40,0,0,0-40-40H88a40,40,0,0,0-40,40V376a40,40,0,0,0,40,40H280a40,40,0,0,0,40-40V336' style='fill:none;stroke:%231da1f2;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/%3e%3cpolyline points='384 176 464 256 384 336' style='fill:none;stroke:%231da1f2;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/%3e%3cline x1='191' y1='256' x2='464' y2='256' style='fill:none;stroke:%231da1f2;stroke-linecap:round;stroke-linejoin:round;stroke-width:32px'/%3e%3c/svg%3e");
}

.header__link_likes {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%231da1f2' %3E%3Cg%3E%3Cpath d='M12 21.638h-.014C9.403 21.59 1.95 14.856 1.95 8.478c0-3.064 2.525-5.754 5.403-5.754 2.29 0 3.83 1.58 4.646 2.73.814-1.148 2.354-2.73 4.645-2.73 2.88 0 5.404 2.69 5.404 5.755 0 6.376-7.454 13.11-10.037 13.157H12zM7.354 4.225c-2.08 0-3.903 1.988-3.903 4.255 0 5.74 7.034 11.596 8.55 11.658 1.518-.062 8.55-5.917 8.55-11.658 0-2.267-1.823-4.255-3.903-4.255-2.528 0-3.94 2.936-3.952 2.965-.23.562-1.156.562-1.387 0-.014-.03-1.425-2.965-3.954-2.965z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.header__link_tweet {
	background-color: rgb(29, 161, 242);
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23ffffff' class='r-jwli3a r-4qtqp9 r-yyyyoo r-1q142lx r-50lct3 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1srniue'%3E%3Cg%3E%3Cpath d='M8.8 7.2H5.6V3.9c0-.4-.3-.8-.8-.8s-.7.4-.7.8v3.3H.8c-.4 0-.8.3-.8.8s.3.8.8.8h3.3v3.3c0 .4.3.8.8.8s.8-.3.8-.8V8.7H9c.4 0 .8-.3.8-.8s-.5-.7-1-.7zm15-4.9v-.1h-.1c-.1 0-9.2 1.2-14.4 11.7-3.8 7.6-3.6 9.9-3.3 9.9.3.1 3.4-6.5 6.7-9.2 5.2-1.1 6.6-3.6 6.6-3.6s-1.5.2-2.1.2c-.8 0-1.4-.2-1.7-.3 1.3-1.2 2.4-1.5 3.5-1.7.9-.2 1.8-.4 3-1.2 2.2-1.6 1.9-5.5 1.8-5.7z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.header__link_tweet:hover {
	background-color: rgb(26, 145, 218);
}

.header__link_sort {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%231da1f2' class='r-13gxpu9 r-4qtqp9 r-yyyyoo r-1q142lx r-50lct3 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1srniue'%3E%3Cg%3E%3Cpath d='M22.772 10.506l-5.618-2.192-2.16-6.5c-.102-.307-.39-.514-.712-.514s-.61.207-.712.513l-2.16 6.5-5.62 2.192c-.287.112-.477.39-.477.7s.19.585.478.698l5.62 2.192 2.16 6.5c.102.306.39.513.712.513s.61-.207.712-.513l2.16-6.5 5.62-2.192c.287-.112.477-.39.477-.7s-.19-.585-.478-.697zm-6.49 2.32c-.208.08-.37.25-.44.46l-1.56 4.695-1.56-4.693c-.07-.21-.23-.38-.438-.462l-4.155-1.62 4.154-1.622c.208-.08.37-.25.44-.462l1.56-4.693 1.56 4.694c.07.212.23.382.438.463l4.155 1.62-4.155 1.622zM6.663 3.812h-1.88V2.05c0-.414-.337-.75-.75-.75s-.75.336-.75.75v1.762H1.5c-.414 0-.75.336-.75.75s.336.75.75.75h1.782v1.762c0 .414.336.75.75.75s.75-.336.75-.75V5.312h1.88c.415 0 .75-.336.75-.75s-.335-.75-.75-.75zm2.535 15.622h-1.1v-1.016c0-.414-.335-.75-.75-.75s-.75.336-.75.75v1.016H5.57c-.414 0-.75.336-.75.75s.336.75.75.75H6.6v1.016c0 .414.335.75.75.75s.75-.336.75-.75v-1.016h1.098c.414 0 .75-.336.75-.75s-.336-.75-.75-.75z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}

.avatar {
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 9999px;
}

.main {
	width: 630px;
	border-left: 1px solid rgb(235, 238, 240);
	border-right: 1px solid rgb(235, 238, 240);
}

.main-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 0;
}

.main-header__title {
	font-weight: 700;
	font-size: 19px;
}

.wrapper {
	padding-left: 15px;
	padding-right: 15px;
	border-bottom: 1px solid rgb(235, 238, 240);
}

.tweet {
	border-top: 1px solid rgb(235, 238, 240);
	border-bottom: 1px solid rgb(235, 238, 240);
	margin: 0 -15px;
	padding: 15px;
}

.tweet-form__wrapper {
	display: flex;
}

.tweet-form__wrapper_inputs {
	display: flex;
	flex-direction: column;
}

.tweet-form {
	margin: 15px 0;
}

.tweet-form__avatar {
	width: 40px;
	height: 40px;
	object-fit: cover;
	border-radius: 9999px;
}

.tweet-form__title {
	font-size: 18px;
	color: rgb(15, 20, 25);
	margin: 10px 0 10px 0;
	text-align: center;
}

.tweet-form__subtitle {
	font-size: 16px;
	color: rgb(127, 127, 127);
	margin: 10px 0 10px 0;
	text-align: center;
}

.tweet-form__error {
	font-size: 16px;
	color: rgb(255, 0, 0);
	margin: 10px 0 10px 0;
	text-align: center;
}

.tweet-form__subtitle a {
	font-size: 16px;
	color: rgb(15, 20, 25);
	/*text-decoration: underline;*/
}

.tweet-form__input {
	display: block;
	font-size: 16px;
	padding: 10px;
	color: rgb(15, 20, 25);
	border: 2px solid rgba(26, 145, 218, 0.1);
	border-radius: 5px;
	/*width: 400px;*/
	margin: 0 auto;
	margin-bottom: 15px;
}

.tweet-form__input:focus {
	border: 2px solid rgba(26, 145, 218, 0.75);
}

.tweet-form__text {
	flex-grow: 1;
	font-size: 16px;
	padding: 10px;
	color: rgb(15, 20, 25);
	border: 2px solid rgba(26, 145, 218, 0.1);
	border-radius: 5px;
	margin-left: 10px;
	outline: none;
	resize: none;
}

.tweet-form__text:focus {
	border: 2px solid rgba(26, 145, 218, 0.75);
}

.tweet-form__btns {
	display: flex;
	align-items: center;
	padding-left: 45px;
	margin: 10px 0 0 0;
}

.tweet-form__btns_center {
	display: flex;
	align-items: center;
}

.tweet-img__btn {
	display: block;
	width: 37px;
	height: 37px;
	border-radius: 9999px;
	background-size: 24px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%231da1f2'%3E%3Cg%3E%3Cpath d='M19.75 2H4.25C3.01 2 2 3.01 2 4.25v15.5C2 20.99 3.01 22 4.25 22h15.5c1.24 0 2.25-1.01 2.25-2.25V4.25C22 3.01 20.99 2 19.75 2zM4.25 3.5h15.5c.413 0 .75.337.75.75v9.676l-3.858-3.858c-.14-.14-.33-.22-.53-.22h-.003c-.2 0-.393.08-.532.224l-4.317 4.384-1.813-1.806c-.14-.14-.33-.22-.53-.22-.193-.03-.395.08-.535.227L3.5 17.642V4.25c0-.413.337-.75.75-.75zm-.744 16.28l5.418-5.534 6.282 6.254H4.25c-.402 0-.727-.322-.744-.72zm16.244.72h-2.42l-5.007-4.987 3.792-3.85 4.385 4.384v3.703c0 .413-.337.75-.75.75z'%3E%3C/path%3E%3Ccircle cx='8.868' cy='8.309' r='1.542'%3E%3C/circle%3E%3C/g%3E%3C/svg%3E");
}

.tweet-form__btn {
	display: block;
	/*background-color: rgb(29, 161, 242);*/
	background-color: rgb(26, 145, 218);
	padding: 0 15px;
	opacity: 0.5;
	border-radius: 9999px;
	height: 40px;
	font-size: 16px;
	font-weight: 700;
	color: #ffffff;
	margin: 0 0 0 auto;
}

.tweet-form__btn_center {
	display: block;
	/*background-color: rgb(29, 161, 242);*/
	background-color: rgb(26, 145, 218);
	padding: 0 15px;
	opacity: 0.5;
	border-radius: 9999px;
	height: 40px;
	font-size: 16px;
	font-weight: 700;
	color: #ffffff;
	margin: 0 auto;
}

.tweet-img__btn:hover {
	background-color: rgba(29, 161, 242, 0.1);
}


.tweet-img__btn:active {
	background-color: rgba(29, 161, 242, 0.4);
}

.tweet-form__btn:hover, .tweet-form__btn_center:hover {
	opacity: 1;
}

.tweet-form__btn_active {
	opacity: 1;
}

.tweet-form__btn_active:after {
	background-color: rgb(26, 145, 218);
}

.tweet__wrapper {
	width: 100%;
	margin-left: 10px;
}

.tweet__header {
	display: flex;
	margin: 0 10px 0 0;
	align-items: center;
	justify-content: space-between;
}

.tweet-author__add {
	font-weight: 400;
	color: rgb(91, 112, 131);
	font-size: 16px;
}

.tweet-post__text {
	overflow-wrap: break-word;
	white-space: pre-wrap;
	font-size: 16px;
	line-height: 1.35;
	padding: 10px 0;
}

.tweet-post__image {
	border-radius: 16px;
	display: block;
	margin: 10px 0;
	overflow: hidden;
}

.tweet__footer {
	display: flex;
	justify-content: end;
}

.tweet__like {
	display: block;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' class='r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1hdv0qi'%3E%3Cg%3E%3Cpath d='M12 21.638h-.014C9.403 21.59 1.95 14.856 1.95 8.478c0-3.064 2.525-5.754 5.403-5.754 2.29 0 3.83 1.58 4.646 2.73.814-1.148 2.354-2.73 4.645-2.73 2.88 0 5.404 2.69 5.404 5.755 0 6.376-7.454 13.11-10.037 13.157H12zM7.354 4.225c-2.08 0-3.903 1.988-3.903 4.255 0 5.74 7.034 11.596 8.55 11.658 1.518-.062 8.55-5.917 8.55-11.658 0-2.267-1.823-4.255-3.903-4.255-2.528 0-3.94 2.936-3.952 2.965-.23.562-1.156.562-1.387 0-.014-.03-1.425-2.965-3.954-2.965z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-size: contain;
	padding-left: 30px;
	padding-right: 5px;
	margin: 10px 0 10px auto;
	height: 18px;
}

.tweet__like:hover {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23d62a61' class='r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1hdv0qi'%3E%3Cg%3E%3Cpath d='M12 21.638h-.014C9.403 21.59 1.95 14.856 1.95 8.478c0-3.064 2.525-5.754 5.403-5.754 2.29 0 3.83 1.58 4.646 2.73.814-1.148 2.354-2.73 4.645-2.73 2.88 0 5.404 2.69 5.404 5.755 0 6.376-7.454 13.11-10.037 13.157H12zM7.354 4.225c-2.08 0-3.903 1.988-3.903 4.255 0 5.74 7.034 11.596 8.55 11.658 1.518-.062 8.55-5.917 8.55-11.658 0-2.267-1.823-4.255-3.903-4.255-2.528 0-3.94 2.936-3.952 2.965-.23.562-1.156.562-1.387 0-.014-.03-1.425-2.965-3.954-2.965z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
	color: #d62a61;
}

.tweet__like_active {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%23d62a61' class='r-4qtqp9 r-yyyyoo r-1xvli5t r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1hdv0qi'%3E%3Cg%3E%3Cpath d='M12 21.638h-.014C9.403 21.59 1.95 14.856 1.95 8.478c0-3.064 2.525-5.754 5.403-5.754 2.29 0 3.83 1.58 4.646 2.73.814-1.148 2.354-2.73 4.645-2.73 2.88 0 5.404 2.69 5.404 5.755 0 6.376-7.454 13.11-10.037 13.157H12zM7.354 4.225c-2.08 0-3.903 1.988-3.903 4.255 0 5.74 7.034 11.596 8.55 11.658 1.518-.062 8.55-5.917 8.55-11.658 0-2.267-1.823-4.255-3.903-4.255-2.528 0-3.94 2.936-3.952 2.965-.23.562-1.156.562-1.387 0-.014-.03-1.425-2.965-3.954-2.965z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
	color: #d62a61;
}

.modal {
	display: none;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
	background-color: #ffffff;
	border-radius: 25px;
	margin-top: 5%;
	/*max-width: 50vw;*/
	max-height: 90vh;
	/*min-width: 600px;*/
	/*min-height: 290px;*/
}

.modal-close {
	padding: 15px;
	min-height: 50px;
	border-bottom: 1px solid rgb(235, 238, 240);
}

.modal .tweet-form {
	min-height: inherit;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 15px;
}

.modal .tweet-form__wrapper {
	flex-grow: 1;

}

.chest-icon {
	min-width: 37px;
	min-height: 37px;
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%231da1f2' class='r-13gxpu9 r-4qtqp9 r-yyyyoo r-1q142lx r-50lct3 r-dnmrzs r-bnwqim r-1plcrui r-lrvibr r-1srniue'%3E%3Cg%3E%3Cpath d='M13.414 12l5.793-5.793c.39-.39.39-1.023 0-1.414s-1.023-.39-1.414 0L12 10.586 6.207 4.793c-.39-.39-1.023-.39-1.414 0s-.39 1.023 0 1.414L10.586 12l-5.793 5.793c-.39.39-.39 1.023 0 1.414.195.195.45.293.707.293s.512-.098.707-.293L12 13.414l5.793 5.793c.195.195.45.293.707.293s.512-.098.707-.293c.39-.39.39-1.023 0-1.414L13.414 12z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
	background-position: center;
	background-repeat: no-repeat;
	background-size: 23px;
	border-radius: 9999px;
}

.chest-icon:hover {
	background-color: rgba(29, 161, 242, 0.1);
}


.btn_add-img {
	background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='%231da1f2'%3E%3Cg%3E%3Cpath d='M19 10.5V8.8h-4.4v6.4h1.7v-2h2v-1.7h-2v-1H19zm-7.3-1.7h1.7v6.4h-1.7V8.8zm-3.6 1.6c.4 0 .9.2 1.2.5l1.2-1C9.9 9.2 9 8.8 8.1 8.8c-1.8 0-3.2 1.4-3.2 3.2s1.4 3.2 3.2 3.2c1 0 1.8-.4 2.4-1.1v-2.5H7.7v1.2h1.2v.6c-.2.1-.5.2-.8.2-.9 0-1.6-.7-1.6-1.6 0-.8.7-1.6 1.6-1.6z'%3E%3C/path%3E%3Cpath d='M20.5 2.02h-17c-1.24 0-2.25 1.007-2.25 2.247v15.507c0 1.238 1.01 2.246 2.25 2.246h17c1.24 0 2.25-1.008 2.25-2.246V4.267c0-1.24-1.01-2.247-2.25-2.247zm.75 17.754c0 .41-.336.746-.75.746h-17c-.414 0-.75-.336-.75-.746V4.267c0-.412.336-.747.75-.747h17c.414 0 .75.335.75.747v15.507z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}